
<center><h1><font color="#FF1493"><%= t"Welcome"%> </h1></font></center>

 <img src="https://www.delinetciler.org/resimler/2007/09/1890.gif" width="100%" height="50%"/>
<center><h1><font color="#FF1493"><a href="posts"><%= t "Click_Here_to_Login" %></a></font></h1></center>